<html>
    <head>

    </head>
    <body>
        <form action="/" method="GET">
            <input type="text" name="result" placeholder="result" value="{{ data }}">
            <button type="submit">GO BACK</button>
        </form>
    </body>
    <style>
        button {
            background-color: #0be3e3;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 15%;
        }
    </style>
</html>